<div class="alert alert-danger" *ngIf="registerForm.errors && registerForm?.errors.mismatch">
  Passwords don't match
</div>
<form [formGroup]="registerForm">
  <div class="form-group">
    <label>Email address</label>
    <app-input [control]="registerForm.get('email')"></app-input>
  </div>
  <div class="form-group">
    <label>Password</label>
    <app-input type="password" [control]="registerForm.get('password')"></app-input>
  </div>
  <div class="form-group">
    <label>Password Confirmation</label>
    <app-input type="password" [control]="registerForm.get('passwordConfirmation')"></app-input>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div>{{ registerForm.value | json }}</div>
<div>{{ registerForm.errors | json }}</div>