<div class="container">
  <div class="card mt-3">
    <form class="card-body" [formGroup]="ccForm" (ngSubmit)="submit()">
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Name on card</label>
          <app-input [control]="ccForm.get('name')"></app-input>
        </div>
        <div class="col-md-6 mb-3">
          <label>Credit card number</label>
          <app-input [control]="ccForm.get('num')"></app-input>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-3">
          <label>Expiration</label>
          <app-input [control]="ccForm.get('expiration')" m="00/00"></app-input>
        </div>
        <div class="col-md-6 mb-3">
          <label>CVV</label>
          <app-input [control]="ccForm.get('cvv')"></app-input>
        </div>
      </div>
      <hr class="mb-4">
      <button class="btn btn-primary btn-lg btn-block" type="submit" [disabled]="ccForm.invalid">Continue to checkout</button>
      <button class="btn btn-warning btn-lg btn-block" type="button" (click)="ccForm.reset()">
        Reset
      </button>
    </form>
    <div>Values: {{ ccForm.value | json }}</div>
    <div>Valid: {{ ccForm.valid }}</div>  
  </div>
</div>