<form (submit)="onSubmit($event)">
  <div class="form-group">
    <label>Email</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Subject</label>
    <input type="text" class="form-control">
  </div>
  <div class="form-group">
    <label>Message</label>
    <textarea class="form-control"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<app-modal *ngIf="toggleModal" (close)="toggleModal = false">
  <ng-container modalTitle>Form Submitted</ng-container>
  <p>We'll get back to you ASAP!</p>
</app-modal>